@tailwind base;
@tailwind components;
@tailwind utilities;

/*default version*/
@font-face {
    font-family: "raleway";
    src: url("/fonts/Raleway-VariableFont_wght.ttf");
}
/*bold version*/
@font-face {
    font-family: "raleway";
    src: local("Raleway Font"), local("Raleway-Font"),
        url("/fonts/static/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
}
/*extra bold version*/
@font-face {
    font-family: "raleway";
    src: local("Raleway Font"), local("Raleway-Font"),
        url("/fonts/static/Raleway-ExtraBold.ttf") format("truetype");
    font-weight: extra-bold;
}
/*extra light version*/
@font-face {
    font-family: "raleway";
    src: local("Raleway Font"), local("Raleway-Font"),
        url("/fonts/static/Raleway-ExtraLight.ttf") format("truetype");
    font-weight: extra-light;
}
/*light version*/
@font-face {
    font-family: "raleway";
    src: local("Raleway Font"), local("Raleway-Font"),
        url("/fonts/static/Raleway-Light.ttf") format("truetype");
    font-weight: light;
}
/*medium version*/
@font-face {
    font-family: "raleway";
    src: local("Raleway Font"), local("Raleway-Font"),
        url("/fonts/static/Raleway-Medium.ttf") format("truetype");
    font-weight: medium;
}
/*semi bold version*/
@font-face {
    font-family: "raleway";
    src: local("Raleway Font"), local("Raleway-Font"),
        url("/fonts/static/Raleway-SemiBold.ttf") format("truetype");
    font-weight: semi-bold;
}
/*thin version*/
@font-face {
    font-family: "raleway";
    src: local("Raleway Font"), local("Raleway-Font"),
        url("/fonts/static/Raleway-Thin.ttf") format("truetype");
    font-weight: thin;
}
